<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="manager">
	<select id="getUserList" resultType="usersDto">
		select
			user_id,
			user_nick,
			user_name,
			user_email,
			to_char(user_regdate, 'YYYY-MM-DD') as user_regdate
		from
			users
		where
			not user_id = 'admin1'
		order by
			user_regdate desc
	</select>
	
	<insert id="e_insert" parameterType="informationDto">
		insert into
			information(
				i_num,
				i_writer,
				i_category,
				i_title,
				i_content,
				i_img
			)
		values(
			information_seq.nextval,
			#{i_writer},
			#{i_category},
			#{i_title},
			#{i_content},
			#{i_img}
		)	
	</insert>
	
	<select id="e_getList" parameterType="informationDto" resultType="informationDto">
		select
			*
		from
			information
		<choose>
			<when test="i_title != null and i_category != null">
				where
					i_title like '%'||#{i_title}||'%'
						or
					i_category like '%'||#{i_category}||'%'
			</when>
			<when test="i_title != null">
				where
					i_title like '%'||#{i_title}||'%'
			</when>
			<when test="i_category != null">
				where
					i_category like '%'||#{i_category}||'%'
			</when>
		</choose>
		order by
			i_num desc
	</select>
	
	<delete id="e_delete" parameterType="int">
		delete from
			information
		where
			i_num = #{i_num}
	</delete>
	
	<select id="e_data" parameterType="int" resultType="informationDto">
		select
			*
		from
			information
		where
			i_num = #{i_num}
	</select>
	<update id="e_update" parameterType="informationDto">
		update 
			information
		set
			i_category = #{i_category},
			i_title = #{i_title},
			i_content = #{i_content},
			i_img = #{i_img}
		where
			i_num = #{i_num}
	</update>
</mapper>