@charset "UTF-8";

h1{
		margin-bottom: 100px;
		text-align: center;
	}

	.form{
		padding-top : 200px;
		width:300px; height:160px;
		margin: 0 auto;
	}
	.input{
		height:50px;
		width:300px;
	}
	.btn{
		height:50px;
		width:300px;
		margin-bottom : 10px;
		border : 1px solid #dcdcdc;
	}
	.small>a{
		color: gray;
		text-align: right;
	}
	#div-left{
		background-color:white;
		width:100%;
		height:790px;
	}
	html,body{
		
		height:100%;
		overflow: hidden;
	}