@charset "UTF-8";

html{
	height:1000px;
	
}

p>strong>a {
	color: black;
}

p>a {
	color: gray;
	magin-right: 50px;
}

a {
	color: black;
}

#login {
	margin-right: 20px;
}

#signup {
	margin-right: 50px;
}

#logoutimg {
	width: 35px;
	height: 35px;
	margin-right: 50px;
}

#userimg {
	width: 35px;
	height: 35px;
	margin-right: 10px;
}

.navbar-brand {
	margin-left: 30px;
	font-size: 30px;
}

#navbar {
	width: 100%;
	height: 200px;
	font-size: 30px;
}

.navbar {
	height: 100px;
	color:black;
}

ul {
	margin-left: 20px;
}

ul>li {
	margin-left: 20px;
}

form {
	margin-right: 40px;
}